node_modules/
.vscode-test/
test/workspace/.vscode/*
!test/workspace/.vscode/restore-terminals.json
*.vsix
assets/screenshots/marketplace/*_crop.png
assets/screenshots/marketplace/*-original.gif
.DS_Store
