.vscode/**
.gitignore
node_modules/**
test/**
.vscode-test/**
DEVELOPMENT.md
scripts/**
*.vsix
assets/screenshots/marketplace/*_crop.png
assets/screenshots/marketplace/*-original.gif
assets/icons/png/siide-ico.png
assets/icons/png/activity-bar-ico.png
